{
    "extends": "airbnb",

    "env": {
        "browser": true
    },

    "rules": {
        "import/prefer-default-export": "off",
        "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "semi": ["error", "never"]
    }
}
