button {
    z-index: 9999; /* Remove once rangesliders have been replaced */
}

.control-panel {
    border: 5px solid black;
    padding: 5px;
}

.controls-group {
    align-items: center;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.split-group {
    flex-direction: row;
}

.horizontal-group {
    display: flex;
    justify-content: space-evenly;
}

.vertical-group {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.controls-group-section {
    border: 2px solid black;
    width: 48%;
    margin: 0 10px;
    padding: 5px;
}

.controls-group .group-header {
    font-style: italic;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

.slider-group {
    display: flex;
}

.slider-wrapper {
    border: 1px grey dashed;
    padding: 0 10px;
}
