.control-panel {
    border: 5px solid black;
    padding: 5px;
}

.controls-group {
    align-items: center;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
    text-align: center;
}

.controls-group .group-header {
    font-style: italic;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

.slider-group {
    display: flex;
}

.slider-wrapper {
    border: 1px grey dashed;
    padding: 0 10px;
}
