.keyboard {
    width: 551px;
    margin: auto;
    margin-top: 10px;
}

.key-row {
    display: flex;
}

.first-row {
    border-top: 2px solid black;
    border-right: 2px solid black;
    padding-right: 11px;
    z-index: 500;
}

.second-row {
    margin-left: 11px;
}
